# Backend
backend/target/
backend/*.iml
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
backend/.settings/
backend/.classpath
backend/.project
.idea/
*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.DS_Store
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
